/* portfolio management media query */

/* a well managed portfolio  */

@media screen and (max-width: 767px) {
  .responsive-portfolio .responsive-portfolio-inner {
    flex-direction: column;
    align-items: stretch;
  }

  .responsive-portfolio .column {
    width: 100% !important;
    display: block;
  }

  .responsive-portfolio .responsive-column-header {
    padding-bottom: 0 !important;
  }

  .responsive-portfolio .column-header .h2_plus {
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem !important;
    word-break: break-word;
    width: 100% !important;
    padding-top: 5px;
    font-weight: 800;
  }

  .responsive-portfolio .column-content,
  .m-t-inline-decrease {
    padding: 0 0 5px 0 !important;
    margin: 0 !important;
  }

  .responsive-portfolio .column-content p {
    font-size: 3rem;
    line-height: 1.4;
    width: 100% !important;
  }
}

/* invest properly section  */

@media screen and (max-width: 767px) {
  .responsive-invest-inner {
    flex-direction: column;
    padding: 19px 0;
  }

  .responsive-invest-section .column-header,
  .responsive-invest-section .columns, .m-t-inline-decrease, .column-figure {
    width: 100% !important;
    max-width: 100%;
    text-align: left;
    padding: 0 !important;
  }

  .responsive-invest-section .column-figure img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0.4rem;
  }

  .responsive-invest-section blockquote.statement {
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 1.5rem !important;
    width: 100% !important;
    padding-top: 5px;
    font-weight: 800;
  }

  .responsive-invest-section .sub-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .responsive-invest-section a.button {
    font-size: 2rem;
    margin:  5px 0 !important;
  }
}
