

:root {

    /* CONTAINERS & WIDTHS */
    --wrapper-width: 90vw;
    --wrapper-max-width: 1850px;

    --gutter-width: 6vw;

    --section-padding: 7.5rem;

    --main-column-width: 26%;
    --main-nested-column-width: 41%;

    --content-column-width:37%;
    --content-columns-width:calc(var(--content-column-width) * 2);

    /* COLORS */
    --orange:               #FF8100;
    --artic-night:          #0C1E23;
    --blue-void:            #013252;
    --midnight-sky:         #13213B;
    --midnight-sky-op-0:    rgba(19,33,59,0);
    --midnight:             #14323B;
    --forest:               #003C44;
    --grass-plain:          #019D9A;
    --apple-green:          #73E59D;
    --apple-green-filter:   invert(80%) sepia(14%) saturate(1487%) hue-rotate(83deg) brightness(113%) contrast(80%);
    --lime-breeze:          #D9FDA0;
    --cloudy-day:           #E8F4F4;
    --haze:                 #f9fcfc;
    --white:                #ffffff;
    --overcast:             #8E8E8F;

    --gradient-m-s:     linear-gradient(90deg, rgba(19, 33, 59, .96) 10%, rgba(19, 33, 59, 0.5) 100%);
    --gradient-m-m:     linear-gradient(90deg, rgba(19, 33, 59, 1) 30%, rgba(19, 33, 59, 0.75) 100%);
    --gradient-m-dl:    linear-gradient(315deg, rgba(19, 33, 59, .9) 10%, rgba(19, 33, 59, 0) 100%);

    --ease-in-out-quint:    cubic-bezier(0.83, 0, 0.17, 1);
    --ease-out-quint:       cubic-bezier(0.22, 1, 0.36, 1);

    --form-field-disabled: rgba(12,30,33,0.5);

}

body.menu-open::after {
  content: "";
  position: fixed;
  z-index: 1998;
  inset: 0;
  background: rgba(18, 33, 59, 0.45); /* dark transparent */
  pointer-events: all;
}



html, body { font-size: 17px; }
body { font-size: 1rem; }

body, html {
    overflow-x: clip;
    width: 100%;
}

.absolute {
    position: absolute;
}

.page-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.wrapper {
    width: var(--wrapper-width);
    max-width: var(--wrapper-max-width);
}

.c-oc { color: var(--overcast) !important; }

.d-f {
    display: flex;
}

.f-r {
    flex-flow: row wrap;
}

.j-r {
    justify-content: flex-end;
}

.j-c {
    justify-content: center;
}

.a-c {
    align-items: center;
}

.f-g {
    flex-grow: 1;
}

.j-sp-b {
    justify-content: space-between;
}

.g-r { margin-right: var(--gutter-width); }
.g-l { margin-left: var(--gutter-width); }

.g-t-0 { padding-top: 0 !important; }
.g-b-0 { padding-bottom: 0 !important; }

.g-b-11 { padding-bottom: 11rem !important; }

.g-p-r { padding-right: var(--gutter-width); }
.g-p-l { padding-left: var(--gutter-width); }

.nav-group {
    display: flex;
}

.w-1-s-c,
.columns.w-1-5-c > .column.w-1-s-c {
    width: var(--main-nested-column-width);
}

.nav-group .dropdown-menu {
    display: flex;
    position: absolute;
    left: 0;
    top: 9.7rem;
    background-color: var(--cloudy-day);
    flex-flow: row;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);

    visibility: hidden;
    opacity: 0;

    width: 100%;

}
.no-js .nav-group .dropdown-menu {

    transition: visibility, opacity .25s ease;

}

.w-f-2-c {
    width: calc(var(--main-column-width) + var(--content-column-width));
}

.nav-group .dropdown-menu ul.link-list li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.nav-group .dropdown-menu ul.link-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0.7rem;
}

.nav-group .dropdown-menu .menu-column.w-2-c {
    width: calc( var(--content-column-width) * 2 );
}

.nav-group .dropdown-menu .menu-column.w-2-c ul.link-list {
    width: calc(50% - var(--gutter-width) );
}

.nav-group .dropdown-menu ul.link-list a {
    font-size: .9rem;
}

.nav-group .dropdown-menu ul.link-list a i {
    width: 1.5rem;
    margin-left: auto;
    height: 1.5rem;
}

.nav-group .dropdown-menu > div { position: relative;
    z-index: 10;
}
.nav-group .dropdown-menu .menu-column:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.06);
}

.nav-item.nav-section-header a {
    font-size: 1.125rem;
    color: var(--blue-void);
    margin-bottom: 2rem;
    display: block;
    position: relative;
}

.nav-group .dropdown-menu .nav-supporting-content {
    width: var(--main-column-width);
    background-color: var(--midnight-sky);
    padding-left: 3rem;
    padding-right: calc(var(--gutter-width) / 1.5);
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-items: flex-start;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}



.nav-supporting-content a {
    font-size: .8rem;
    padding: 1rem 1.25rem 1rem 1.5rem;
    margin-top: auto;
}
.nav-supporting-content .button.button-with-icon i {
    display: flex;
    height: 0.65rem;
    width: 0.65rem;
    top: 0.03rem;
    position: relative;
}

.nav-supporting-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 300;
    padding-top: 2rem;
    position: relative;
}

.nav-supporting-title::before {
    content: '';
    position: absolute;
    left: auto;
    top: 0;
    background: var(--apple-green);
    height: 2px;
    width: 2rem;
}

.nav-supporting-content p {
    font-size: .8rem;
    color: #fff;
    margin-bottom: 3rem;
    line-height: 1.7;
}

.supporting-content-link {
    font-size: 0.8rem;
}

.nav-group .dropdown-menu .menu-column {
    width: var(--content-column-width);
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
    background: var(--cloudy-day);
}

.button {
    background: var(--lime-breeze);
    padding: 1.4rem 1.75rem 1.4rem 2rem;
    border-radius: 4rem;
    position: relative;
    color: var(--midnight);
    overflow: hidden;

    transition: color 0.25s ease;
}

.button i {
    filter: invert(0);
    transition:filter .25s ease;
}
.button:not(.button-inline):hover i {
    filter: invert(1);
}

.button:not(.button-inline)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;              /* Large enough to cover wide buttons */
    height: 0%;             /* Maintain a square for a perfect circle */
    background-color: var(--apple-green);/* The hover effect background color */
    opacity: 0;
    transition: height 0.5s var(--ease-in-out-quint), opacity .75s ease;           /* Animates the scaling */

}

.button:not(.button-inline):hover {
    color: var(--white);
}

.button:hover::before {
    opacity: 1;
    height:100%;
}

.button > * {
    z-index: 2;
    position: relative;
}

.button.button-with-icon {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.button.button-with-icon i {
    display: flex;
    height:0.85rem;
}

.button.button-with-icon > *:last-child {
    margin-left: 0.5rem;
}

.button.button-regular {
    display: inline-flex;
}


main {
    margin-top: calc(3rem + 1rem + 8.4rem);
    width: 100%;
    z-index: 1;
}

.section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.b-b {
    background: var(--cloudy-day);
}

.b-m {
    background: var(--midnight-sky);
}

.b-h {
    background: var(--haze);
}

.b-w {
    background-color: var(--white);
}

.shift-u-2 { margin-top:-2rem; }

.border-right {
    border-right: 1px solid;
}




.b-b .border-right {
    border-color: rgba(0,0,0,0.06);
}

.border-right {
    border-color: rgba(0,0,0,0.06);
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-bottom {
    border-color: rgba(0,0,0,0.06);
}


.border-top {
    border-top: 1px solid;
    border-color: rgba(0,0,0,0.06);
}

.w-8-vw {
    width: 80vw;
}

.w-7-vw {
    width: 70vw;
}

.c-bv,
.standard-list li.c-bv { color: var(--blue-void); }

.w-6-vw {
    width: 60vw;
}

.w-5-vw {
    width: 50vw;
}

.b-b.border-bottom {
    border-color: rgba(0,0,0,0.06);
}

.m-t-inline {
    margin-top: 5.4rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-t-3-1 {
    margin-top: 3.1rem !important;
}

.m-t-3-6 {
    margin-top: 3.6rem !important;
}

.m-t-1 {
    margin-top: 1rem !important;
}

.m-t-1-1 {
    margin-top: 1.1rem !important;
}

.m-t-12 { margin-top: 12rem; }


.m-t-3-8 {
    margin-top: 3.8rem !important;
}

.m-t-sp {
    margin-top: var(--section-padding);
}
.list-inline {
    margin-top: 1.61rem;
}

.slider-navigation.m-t-a {
    bottom: 0;
    transform: unset;
}

.list-reduced li:not(:last-child) {
    margin-bottom: 1.45rem;
}

.list-reduced-1-2 li:not(:last-child) {
    margin-bottom: 1.2rem;
}

.m-t-inline-decrease {
    margin-top: 3.4rem;
}

.w-2-c,
.column.column-content.w-2-c { width: var(--content-columns-width); }

.w-1-c,
.columns > .column.w-1-c { width: 50%; }

.w-f { width: 100% !important; }

.h-f { height: 100%; }

.p-r { position: relative !important; }

.column-figure {
    display: flex;
    flex-flow: column;
}

.btm-u { bottom: unset!important;}

.column-figure figure {
    flex-grow: 1;
    width: 100%;
}

.column-figure figure img {
    object-fit: cover;
    width: 100%;
    max-inline-size: unset;
    height: 100%;
    max-block-size: unset;
}

.mh-27 {
    max-height: 27rem;
}

.f-c { flex-flow:column;}

.a-l { align-items: flex-start; }


.m-t-a {
    margin-top: auto;
}

.p-r { position: relative; }

.b-s-l::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    width: 100vw;
    right: 0;
}

.b-s-l > * {
    position: relative;
}

.b-m.b-s-l::before {
    background-color: var(--midnight-sky);
}

.b-gp {
    background-color: var(--grass-plain);
}

.c-gp { color: var(--grass-plain) !important; }
.c-w { color: var(--white) !important; }
.c-lb { color: var(--lime-breeze) !important; }
.c-ag { color: var(--apple-green) !important; }

.padding-extended {
    padding-top: 5rem;
}

.b-dark .border-right {
    border-color: rgba(255,255,255,0.1);
}

.button.button-inline {
    background: unset;
    padding: 1.55rem 0rem;
    position: relative;
    color: var(--grass-plain);
    width: 100%;
}

.button.button-inline i {
    width: 1.8rem;
    margin-left: auto !important;
    height: 1.8rem;
}

.b-dark ul.link-list li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.p-c {
    position: relative;
}
.z-2 { z-index: 2; }


.p-c figure {
    width: calc(100vw - var(--main-column-width));
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.p-c figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.g-o-m::before {
    content: '';
    width: calc(100vw - var(--main-column-width));
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--gradient-m-s);
    z-index: 2;
}

.frequently-asked-questions .question .question-title {
    color: var(--grass-plain);
    display: flex;
    align-items: center;
    padding-top: 1.55rem;
    font-size: 1.05rem;
    padding-bottom: 1.55rem;
    cursor: pointer;


}

.frequently-asked-questions .question { border-bottom: 1px solid rgba(0,0,0,0.06); }
.frequently-asked-questions .question.open { padding-bottom: 1.55rem; }
.frequently-asked-questions .question .question-answer {
    opacity: 0;
    height: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    visibility: hidden;
    color: var(--blue-void);
    font-size: .9rem;
    line-height: 1.55;
    padding-right: 2rem;

    transition:
            opacity 1s ease,
            clip-path 1s var(--ease-out-quint),
            height 0s linear 0;
    will-change: clip-path, opacity;
}

.frequently-asked-questions .question.open .question-answer {
    opacity: 1;
    height: 100%;
    visibility: visible;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

    transition:
            opacity 1s ease,
            clip-path 1s var(--ease-out-quint),
            height 0s linear 1s;

}

.frequently-asked-questions .question .question-title i {
    width: 1.8rem;
    margin-left: auto !important;
    height: 1.8rem;
    transform: rotate(90deg);
}

.frequently-asked-questions .question.open .question-title i {
    transform: rotate(270deg);
}

ul.link-list.minimal-list li {
    border-bottom: unset;
    padding-bottom: 0;
}

ul.link-list.minimal-list a {
    color: var(--white);
    letter-spacing: 0.01em;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

ul.link-list.minimal-list a span {
    text-decoration: none;
}

.td-n span::before {
    content: unset !important;
}

.b-dark ul.link-list a:hover {
    color: var(--white);
}

.w-1-5-c {
    width: calc(var(--main-column-width) + var(--content-column-width));
}

.columns.w-1-5-c > .column:first-child { width: 41%; }
.columns.w-1-5-c > .column { width: 59%; }

.w-4-5 { width: 45%; }

.g-b-0 { padding-bottom: unset !important; }

.a-c-fs { align-content: flex-start; }

.g-p-b {
    padding-bottom: var(--section-padding);
}

.p-b-5 {
    padding-bottom: 5rem !important;
}

.g-p-t {
    padding-top: var(--section-padding);
}

.b-f { background-color: var(--forest); }

.t-a-c { text-align: center; }

.m-b-2-9 {
    margin-bottom: 2.9rem;
}

.m-b-2-5,
.standard-list li.m-b-2-5 {
    margin-bottom: 2.5rem;
}

.m-t-neg-2 {
    margin-top: -2rem;
}



.m-b-5 {
    margin-bottom:5rem;
}
.m-t-2 {
    margin-top: 2rem;
}

.m-t-2-5 {
    margin-top: 2.5rem;
}

.m-t-1-7 {
    margin-top: 1.7rem;
}

.m-t-1-9 {
    margin-top: 1.9rem;
}

.m-t-4 {
    margin-top: 4rem;
}

.m-t-4-5 {
    margin-top: 4.5rem;
}

.f-s { width: unset !important; flex-shrink: 1; }

.m-b-3 {
    margin-bottom: 3rem;
}
.m-b-4 {
    margin-bottom: 4rem;
}

.t-u { transform: unset !important; }

.m-b-0-5 {
    margin-bottom: 0.5rem;
}
.m-t-3-5 { margin-top: 3.5rem; }
.m-t-neg-0-3 { margin-top: -0.3rem; }

.m-t-rm { margin-top: 0rem !important; }

.h-f { height: 100%; }

.p-s { position: sticky; }
.p-s-sp {
    top:var(--section-padding);
}


.shift-u-8 {
    margin-top: -8rem;

}

.l-h-1-5 {
    line-height:1.5;
}

.l-h-1-4-8 {
    line-height:1.48;
}

li.l-h-1-5::before {
    margin-top: 0.18rem;
}

.g-o-m.w-f::before {
    width: 100%;
    background: var(--gradient-m-m);
}

.shift-u-5-p-t-5 {
    margin-top: -5rem;
    padding-top: 5rem;
}

.z-3 { z-index: 3 !important;}

.z-rm {
    z-index:unset !important;
}

.img-st-l {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(60vw - var(--content-columns-width) - 10vw);
    max-inline-size: unset;
    max-block-size: unset;
    height: 100%;
}

.img-st-l img {
    max-inline-size: unset;
    max-block-size: unset;
    max-width: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.m-t-4-9 { margin-top: 4.9rem; }
.m-t-5-5 { margin-top: 5.5rem; }

blockquote.statement.m-t-inline {
    margin-top: 5.2rem;
}

.d-b { display: block; }

.li-g-m li:not(:last-child) {
    margin-bottom: 1.5rem;
}


.f-s-sm {
    font-size: 75%;
    margin-top: .5rem;
    line-height: 1.4;
    color: var(--blue-void);
}

.m-t-lh { margin-top: 1.61rem; }

.p-t-8 {

    padding-top: 8rem;
}

.p-x img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-f-d-r::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-m-dl);
}

.ob-p-0-35 img {
    object-position: 0 35%;
}

.ob-p-0-25 img {
    object-position: 0 25%;
}

.ob-p-0-15 img {
    object-position: 0 15%;
}